* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Source Sans Pro";
}

.navigation-wrapper {
  position: fixed;
  height: 100vh;
  width: 300px;
  top: 0;
  max-width: 100vw;
  background: #fff;
  -webkit-box-shadow: 4px 4px 4px #00000025;
          box-shadow: 4px 4px 4px #00000025;
  padding: 1em;
  overflow: auto;
}

.navigation-wrapper .navigation a {
  text-decoration: none;
}

.navigation-wrapper .navigation ul {
  list-style: none;
}

.navigation-wrapper .navigation .nav-list {
  list-style: none;
}

.navigation-wrapper .navigation .nav-list .login_register {
  padding: .5em 1em;
  text-align: center;
  font-weight: 500;
  background: #CC3043;
  border-radius: 5px;
}

.navigation-wrapper .navigation .nav-list .login_register a {
  color: #fff;
}

.navigation-wrapper .navigation .nav-list .sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-block: 1em;
}

.navigation-wrapper .navigation .nav-list .sub-list .sub-list-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navigation-wrapper .navigation .nav-list .sub-list .link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  background-color: #F5F5F5;
  -webkit-box-shadow: 0 4px 4px #00000025;
          box-shadow: 0 4px 4px #00000025;
  border-radius: 5px;
  color: #292929;
  padding: .5em 1em;
  font-size: .8em;
}

.navigation-wrapper .navigation .nav-list .sub-list .link img {
  height: 15px;
  width: 15px;
}

.navigation-wrapper .navigation .nav-list .sub-list .link .cart-count {
  font-weight: 600;
  color: #CC3043;
}

.navigation-wrapper .navigation .nav-list .categories-wrapper {
  background: #f5f5f5;
  padding-top: 1em;
}

.navigation-wrapper .navigation .nav-list .categories-wrapper .title {
  padding: .5em;
  text-align: center;
  margin-bottom: 1em;
  font-weight: 600;
  background: #fff;
  border-radius: 5px;
  color: #292929;
  -webkit-box-shadow: 0 4px 4px #00000025;
          box-shadow: 0 4px 4px #00000025;
  max-width: 90%;
  margin-inline: auto;
}

.navigation-wrapper .navigation .nav-list .categories-wrapper .category {
  padding: .8em 1em;
  -webkit-transition: all .20s ease-in-out;
  transition: all .20s ease-in-out;
}

.navigation-wrapper .navigation .nav-list .categories-wrapper .category a {
  display: block;
  color: #292929;
  font-size: .8em;
}

.navigation-wrapper .navigation .nav-list .categories-wrapper .category:hover {
  background-color: #CC3043;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation-wrapper .navigation .nav-list .categories-wrapper .category:hover a {
  color: #fff;
}

.navigation-wrapper .navigation .nav-list .advantage-wrapper {
  margin-block: 1em;
}

.navigation-wrapper .navigation .nav-list .advantage-wrapper li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
  padding: .3em .5em;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px #CC3043;
          box-shadow: 0 0 4px #CC3043;
  margin-bottom: 1em;
  -webkit-transition: all .20s ease-in-out;
  transition: all .20s ease-in-out;
}

.navigation-wrapper .navigation .nav-list .advantage-wrapper li:hover {
  -webkit-box-shadow: 0 0 4px #00000025;
          box-shadow: 0 0 4px #00000025;
  background: #fff;
  border: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.navigation-wrapper .navigation .nav-list .advantage-wrapper li a {
  color: #CC3043;
  font-size: .8em;
  font-weight: 600;
}
/*# sourceMappingURL=navigation.css.map */